.cursor-dot {
  width: 5px;
  height: 5px;
  background-color: rgb(249, 38, 38);
}

.cursor-outline {
  width: 30px;
  height: 30px;
  border: 2px solid rgba(239, 53, 53, 0.5);
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 9999; /* Ensure it's on top */
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  opacity: 0; /* Start invisible */
}

@media (min-width: 768px) {
  .cursor-dot {
    width: 0.5vw;
    height: 0.5vw;
  }
  .cursor-outline {
    width: 3vw;
    height: 3vw;
  }
}
