/* Mixin for Image Styling */
@mixin imageStyling($b, $l, $s) {
  bottom: $b;
  left: $l;
  transform: scale($s);
}

@mixin sectionPadding($t, $lr) {
  padding: $t 0 $lr;
}

@mixin largeScreen {
  @include sectionPadding(12rem, 2rem);
}

@mixin mediumScreen {
  @include sectionPadding(12rem, 2rem);
}

@mixin smallScreen {
  @include sectionPadding(8rem, 2rem);
}

/* Extra Small Devices (xs) */
@media (min-width: 200px) {
  .studios {
    font-size: 5rem;
    text-align: center;
  }
  .qubic {
    font-size: 6rem;
    text-align: center;
  }
  .hero-img {
    @include imageStyling(0, 0, 2.3);
  }
  .hero .p-1 {
    font-size: 0.8rem;
    margin-bottom: 20px;
  }
  .hero .p-2 {
    font-size: 0.8rem;
  }
  section {
    @include smallScreen;
  }
}

/* Custom breakpoint between xs and sm */
@media (min-width: 412px) {
  .studios {
    font-size: 5.7rem;
    text-align: center;
  }
  .qubic {
    font-size: 6.5rem;
    text-align: center;
  }
  .hero-img {
    @include imageStyling(0, 0, 1.5);
  }
  .hero p {
    font-size: 0.8rem;
  }
  section {
    @include smallScreen;
  }
}
@media (min-width: 500px) and (max-width: 540px) {
  .studios {
    font-size: 6.8rem;
    text-align: center;
  }
  .qubic {
    font-size: 8rem;
    text-align: center;
  }
  .hero-img {
    @include imageStyling(0, 0, 1.5);
  }
  .hero p {
    font-size: 0.8rem;
  }
  section {
    @include smallScreen;
  }
}

/* Custom breakpoint between xs and sm */
@media (min-width: 548px) {
  .studios {
    font-size: 7.5rem;
    text-align: center;
  }
  .qubic {
    font-size: 9rem;
    text-align: center;
  }
  .hero-img {
    @include imageStyling(0, 0, 1.5);
  }
  .hero p {
    font-size: 0.8rem;
  }
  section {
    @include smallScreen;
  }
}

@media (min-width: 540px) and (max-width: 547px) {
  .studios {
    font-size: 7.3rem;
  }
  .qubic {
    font-size: 8.5rem;
  }
}

@media (min-width: 615px) and (max-width: 640px) {
  .studios {
    font-size: 8.5rem;
  }
  .qubic {
    font-size: 10rem;
  }
  .hero-img {
    @include imageStyling(0, 0, 1.2);
  }
}

/* Small Devices (sm) */
@media (min-width: 640px) {
  .studios {
    font-size: 8.5rem;
    text-align: center;
  }
  .qubic {
    font-size: 10rem;
    text-align: center;
  }

  .hero-img {
    @include imageStyling(0, 0, 1.4);
  }
  .hero p {
    font-size: 1rem;
  }
  section {
    @include mediumScreen;
  }
}

@media (min-width: 646px) and (max-width: 768px) {
  .studios {
    font-size: 9rem;
  }
  .qubic {
    font-size: 10.5rem;
  }
  .hero-img {
    @include imageStyling(0, 0, 1.2);
  }
}

@media (min-width: 730px) and (max-width: 768px) {
  .hero-img {
    @include imageStyling(0, 0, 1);
  }
}

/* Medium Devices (md) */
@media (min-width: 768px) {
  .studios {
    font-size: 10.5rem;
  }
  .qubic {
    font-size: 13rem;
  }
  .hero-img {
    @include imageStyling(0, 0, 1.1);
  }
  .hero p {
    font-size: 1.2rem;
  }
  section {
    @include mediumScreen;
  }
}

/* Custom breakpoint between sm and md */
@media (min-width: 853px) {
  .studios {
    font-size: 11.5rem;
  }
  .qubic {
    font-size: 13rem;
  }
  .hero-img {
    @include imageStyling(0, 0, 1);
  }
  .hero p {
    font-size: 1.2rem;
  }
  section {
    @include mediumScreen;
  }
}

/* Custom breakpoint between md and lg */
@media (min-width: 912px) and (max-width: 1024px) {
  .studios {
    font-size: 13rem;
    text-align: center;
  }
  .qubic {
    font-size: 15rem;
    text-align: center;
  }
  .hero-img {
    @include imageStyling(0, 0, 1);
  }
  .hero p {
    font-size: 1.2rem;
  }
  section {
    @include largeScreen;
  }
}

/* Large Devices (lg) */
@media (min-width: 1024px) {
  .qubic,
  .studios {
    font-size: 15rem;
    text-align: left;
  }
  .qubic {
    text-align: right;
  }
  .hero-img {
    @include imageStyling(-31%, 22%, 1);
  }
  .hero .p-1 .p-2 {
    font-size: 20rem;
  }
  section {
    @include largeScreen;
  }
}

/* Extra Large Devices (xl) */
@media (min-width: 1280px) {
  .qubic,
  .studios {
    font-size: 16rem;
    text-align: left;
  }
  .qubic {
    text-align: right;
  }
  .hero-img {
    @include imageStyling(-31%, 22%, 1.2);
  }
  .hero p {
    font-size: 1rem;
  }
  section {
    @include largeScreen;
  }
}

/* 2XL Devices (2xl) */
@media (min-width: 1536px) {
  .qubic,
  .studios {
    font-size: 17rem;
    text-align: left;
  }
  .qubic {
    text-align: right;
  }
  section {
    @include largeScreen;
  }
}

/* 3XL Devices (3xl) */
@media (min-width: 1920px) {
  .qubic,
  .studios {
    font-size: 18rem;
    text-align: left;
  }
  .qubic {
    text-align: right;
  }
  section {
    @include largeScreen;
  }
}

/* 4XL Devices (4xl) */
@media (min-width: 2560px) {
  .qubic,
  .studios {
    font-size: 20rem;
    text-align: left;
  }
  .qubic {
    text-align: right;
  }
  section {
    @include largeScreen;
  }
}
