.navbar {
  li {
    display: inline;
    color: black;
    padding: 0 12px;
    font-size: 0.8rem;
  }
}

.mobilenav {
  li {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
  }
}

.bg-glossy {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.6px);
  -webkit-backdrop-filter: blur(12.6px);
}
